<a href="https://colab.research.google.com/github/faizuddin/IBB31103/blob/main/lab_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Introduction to Artificial Intelligence (IBB31103)
## Tutorial: Python Basics




Python can be run in one of two modes. It can either be used interactively, via an interpeter, or it can be called from the command line to execute a script. We will first use the Python interpreter interactively.

You can invoke the interpreter using the command python using Colab notebook Unix command prompt by appending exclamation mark "!" in front of `python` command.

In [2]:
!python

Python 3.7.11 (default, Jul  3 2021, 18:01:19)
[GCC 7.5.0] on linux
Type "help", "copyright", "credits" or "license" for more information.
>>> exit()

## Operators

The Python interpreter can be used to evaluate expressions, for example simple arithmetic expressions. If you enter such expressions in cell they will be evaluated and the result will be returned in the output.

In [7]:
6*6

36

In [15]:
1+6

7

In [16]:
363-667

-304

Boolean operators also exist in Python to manipulate the primitive `True` and `False` values.

In [13]:
(1==1) and (9==0)

False

In [14]:
not (1 == 0)

True

## Strings

Like Java, Python has a built in string type. The `+` operator is overloaded to do string concatenation on string values.

In [9]:
'artificial' + "intelligence"

'artificialintelligence'

There are many built-in methods which allow you to manipulate strings.

In [10]:
'artificial'.upper()

'ARTIFICIAL'

In [11]:
'HELP'.lower()

'help'

In [12]:
len('Help')

4

Notice that we can use either single quotes ' ' or double quotes " " to surround string. This allows for easy nesting of strings.

We can also store expressions into variables.

In [24]:
s = 'hello world'
print(s)

hello world

In [26]:
s.upper()

'HELLO WORLD'

Print the length of word

In [27]:
len(s.upper())

11

In [23]:
num = 8.0
num += 2.5
print(num)

10.5

In Python, you do not have declare variables before you assign to them.

### Exercise: Dir and Help
Learn about the methods Python provides for strings. To see what methods Python provides for a datatype, use the dir and help commands:

In [ ]:
s = 'abc'
dir(s)

In [30]:
help(s.find)

Help on built-in function find:

find(...) method of builtins.str instance
    S.find(sub[, start[, end]]) -> int

    Return the lowest index in S where substring sub is found,
    such that sub is contained within S[start:end].  Optional
    arguments start and end are interpreted as in slice notation.

    Return -1 on failure.

In [31]:
s.find('b')

1

## Control Structures

### The `if` statement and variants.
The simple `if` statement allows the program to branch based on the evaluation of an expression

The basic format of the if statement is:

In [77]:
print("\nExample 1\n")

value = 5
threshold= 4
print("value is", value, "threshold is ",threshold)
if value > threshold :
    print(value, "is bigger than ", threshold)

print("\nExample 2\n")


high_threshold = 6
print("value is", value, "new threshold is ",high_threshold)
if value > high_threshold :
    print(value , "is above ", high_threshold, "threshold")

print("\nExample 3\n")


mid_threshold = 5
print("value is", value, "final threshold is ",mid_threshold)
if value == mid_threshold :
    print("value, ", value, " and threshold,", mid_threshold, ", are equal")

Example 1

value is 5 threshold is  4
5 is bigger than  4

Example 2

value is 5 new threshold is  6

Example 3

value is 5 final threshold is  5
value,  5  and threshold, 5 , are equal

In the examples above there are three things to notice:
1.   The colon `:` at the end of the if line. Leaving this out is a common error.
2.   The indentation of the print statement. If you remembered the `:` on the line before, Colab (or any other Python IDE) will automatically do the indentation for you. All of the statements indented at this level are considered to be part of the `if` statement. This is a feature fairly unique to Python, that it cares about the indentation. If there is too much, or too little indentation, you will get an error.
3. The `if` statement is ended by removing the indent. There is no explicit end to the `if` statement as there is in many other programming languages

In the last example, notice that in Python the operator used to check equality is `==`.

### Exercise
Add another `if` statement to example 1 that will check if `b` is greater than or equal to `a`

In [78]:
print("\nExample 2a\n")

a = 3
b = 4
print("a is", a, "b is",b)
if a > b :
    print(a, "is bigger than ", b)
if a <= b :
    print(b, "is bigger than or equal to ", a)

Example 2a

a is 3 b is 4
4 is bigger than or equal to  3

Instead of using two separate `if` statements to decide which is larger we can use the `if ... else ...` construct

In [79]:
# if ... else ...

value = 4
threshold = 5
print("value = ", value, "and threshold = ", threshold)

if value > threshold :
    print("above threshold")
else :
    print("below threshold")

value =  4 and threshold =  5
below threshold

A further extension of the `if` statement is the `if ... elif ...else` version.

The example below allows you to be more specific about the comparison of `a` and `b`.

In [80]:
# if ... elif ... else ... endIf

a = 5
b = 4
print("a = ", a, "and b = ", b)

if a > b :
    print(a, " is greater than ", b)
elif a == b :
    print(a, " equals ", b)
else :
    print(a, " is less than ", b)

a =  5 and b =  4
5  is greater than  4

The overall structure is similar to the `if ... else` statement. There are three additional things to notice:
1. Each `elif` clause has its own test expression.
2. You can have as many `elif` clauses as you need.
3. Execution of the whole statement stops after an `elif` expression is found to be `True`. Therefore the ordering of the `elif` clause can be significant.

### The `while` loop
The `while` loop is used to repeatedly execute lines of code until some condition becomes `False`.

For the loop to terminate, there has to be something in the code which will potentially change the condition.

In [81]:
# while loop
n = 10
cur_sum = 0
# sum of n  numbers
i = 1
while  i <= n :
    cur_sum = cur_sum + i
    i = i + 1
print("The sum of the numbers from 1 to", n, "is ", cur_sum)

The sum of the numbers from 1 to 10 is  55

Points to note:

1. The condition clause `(i <= n)` in the while statement can be anything which when evaluated would return a Boolean value of either `True` of `False`. Initially `i` has been set to 1 (before the start of the loop) and therefore the condition is `True`.
2. The clause can be made more complex by use of parentheses and `and` and `or` operators amongst others
3. The statements after the while clause are only executed if the condition evaluates as `True`.
4. Within the statements after the while clause there should be something which potentially will make the condition evaluate as `False` next time around. If not the loop will never end.
5. In this case the last statement in the loop changes the value of i which is part of the condition clause, so hopefully the loop will end.
6. We called our variable `cur_sum` and not `sum` because `sum` is a builtin function (try typing it in, notice the editor changes it to green). If we define `sum = 0` now we can’t use the function `sum` in this Python session.

### The `for` loop
The for loop, like the while loop repeatedly executes a set of statements. The difference is that in the for loop we know in at the outset how often the statements in the loop will be executed. We don’t have to rely on a variable being changed within the looping statements.

The basic format of the `for` statement is:

In [82]:
print("\nExample 1\n")
for i in [1,2,3] :
    print(i)

print("\nExample 2\n")
for name in ["Tom", "Dick", "Harry"] :
    print(name)

print("\nExample 3\n")
for name in ["Tom", 42, 3.142] :
    print(name)

print("\nExample 4\n")
for i in range(3) :
    print(i)

print("\nExample 5\n")
for i in range(1,4) :
    print(i)

print("\nExample 6\n")
for i in range(2, 11, 2) :
    print(i)

print("\nExample 7\n")
for i in "ABCDE" :
    print(i)

print("\nExample 8\n")
longString = "The quick brown fox jumped over the lazy sleeping dog"
for word in longString.split() :
    print(word)

Example 1

1
2
3

Example 2

Tom
Dick
Harry

Example 3

Tom
42
3.142

Example 4

0
1
2

Example 5

1
2
3

Example 6

2
4
6
8
10

Example 7

A
B
C
D
E

Example 8

The
quick
brown
fox
jumped
over
the
lazy
sleeping
dog

The key part of this is the `longString`. The phrase used in the documentation is that it must be *iterable*. That means, you can count through the sequence, starting at the beginning and stopping at the end.

There are many examples of things which are iterable some of which we have already come across.

* Lists are iterable - they don’t have to contain numbers, you iterate over the elements in the list.
* The `range()` function
* The characters in a string

### Exercise
Suppose that we have a string containing a set of 4 different types of values separated by `,` like this:

`variablelist = "26/08/2021,34.5,Yellow,True"`

Use the `split()` method and then rewrite the`for` loop from example above so that it prints the 4 components of `variablelist`

In [ ]:
# From the for loop section above
variablelist = "26/08/2021,34.5,Yellow,True"

# use for and split() method

## Built-in Data Structures

Python comes equipped with some useful built-in data structures, broadly similar to Java’s collections package.

### Lists

Lists store a sequence of mutable items:

In [13]:
fruits = ['apple', 'orange', 'pear', 'banana']
fruits[3]

'banana'

We can use the `+` operator to do list concatenation:

In [14]:
otherFruits = ['kiwi', 'strawberry']
fruits + otherFruits

['apple', 'orange', 'pear', 'banana', 'kiwi', 'strawberry']

Python also allows negative-indexing from the back of the list. For instance, `fruits[-1]` will access the last element `banana`:

In [15]:
fruits[-1]

'banana'

or `fruits[-2]` will access the second last element `pear`:

In [16]:
fruits[-2]

'pear'

We also can use list data structure operation to remove or append or change an element:

In [17]:
fruits.pop()
fruits

['apple', 'orange', 'pear']

In [18]:
fruits.append('grapefruit')
fruits

['apple', 'orange', 'pear', 'grapefruit']

In [19]:
fruits[-1] = 'pineapple'
fruits

['apple', 'orange', 'pear', 'pineapple']

We can also index multiple adjacent elements using the slice operator. For instance, `fruits[1:3]`, returns a list containing the elements at position 1 and 2. In general `fruits[start:stop]` will get the elements in start, start`+1, ..., stop-1`. We can also do `fruits[start:]` which returns all elements starting from the start index. Also `fruits[:end]` will return all elements before the element at position end:

In [20]:
fruits[0:2]

['apple', 'orange']

In [21]:
fruits[:3]

['apple', 'orange', 'pear']

In [22]:
fruits[2:]

['pear', 'pineapple']

Print the size of `fruits`:

In [ ]:
len(fruits)

The items stored in lists can be any Python data type. So for instance we can have lists of lists:

In [23]:
lstOfLsts = [['a', 'b', 'c'], [1, 2, 3], ['one', 'two', 'three']]
lstOfLsts[1][2]

3

In [24]:
lstOfLsts[0].pop()

'c'

In [25]:
lstOfLsts

[['a', 'b'], [1, 2, 3], ['one', 'two', 'three']]

### Exercise: Lists

Play with some of the list functions. You can find the methods you can call on an object via the `dir` and get information about them via the `help` command:

In [ ]:
dir(list)

In [ ]:
help(list.reverse)

Create a list called `lst` with elements: `a`, `b`, `c` and print them in reverse:

In [ ]:
# create lst

# reverse lst

# print lst

### Tuples

A data structure similar to the list is the tuple, which is like a list except that it is immutable once it is created (i.e. you cannot change its content once created). Note that tuples are surrounded with parentheses while lists have square brackets.

In [30]:
pair = (3, 5)
pair[0]

3

In [31]:
x, y = pair
x

3

In [32]:
y

5

The attempt to modify an immutable structure raised an exception. Exceptions indicate errors: index out of bounds errors, type errors, and so on will all report exceptions in this way.

In [33]:
pair[1] = 6

TypeError: ignored

### Sets

A set is another data structure that serves as an unordered list with no duplicate items. Below, we show how to create a set:

In [39]:
shapes = ['circle', 'square', 'triangle', 'circle']
setOfShapes = set(shapes)

Another way of creating a set:
`setOfShapes = {‘circle’, ‘square’, ‘triangle’, ‘circle’}`

Next, we show how to add things to the set, test if an item is in the set, and perform common set operations (difference, intersection, union):

In [40]:
setOfShapes

{'circle', 'square', 'triangle'}

In [41]:
setOfShapes.add('polygon')
setOfShapes

{'circle', 'polygon', 'square', 'triangle'}

In [43]:
'circle' in setOfShapes

True

In [44]:
'rhombus' in setOfShapes

False

In [45]:
favoriteShapes = ['circle', 'triangle', 'hexagon']
setOfFavoriteShapes = set(favoriteShapes)
setOfShapes - setOfFavoriteShapes

{'polygon', 'square'}

In [46]:
setOfShapes & setOfFavoriteShapes

{'circle', 'triangle'}

In [47]:
setOfShapes | setOfFavoriteShapes

{'circle', 'hexagon', 'polygon', 'square', 'triangle'}

***Note that the objects in the set are unordered; you cannot assume that their traversal or print order will be the same across machines!***

### Dictionaries

The last built-in data structure is the dictionary which stores a map from one type of object (the key) to another (the value). The key must be an immutable type (string, number, or tuple). The value can be any Python data type.

Note: In the example below, the printed order of the keys returned by Python could be different than shown below. The reason is that unlike lists which have a fixed ordering, a dictionary is simply a hash table for which there is no fixed ordering of the keys (like HashMaps in Java). The order of the keys depends on how exactly the hashing algorithm maps keys to buckets, and will usually seem arbitrary. Your code should not rely on key ordering, and you should not be surprised if even a small modification to how your code uses a dictionary results in a new key ordering.

In [48]:
studentIds = {'ali': 42.0, 'abu': 56.0, 'aminah': 92.0}
studentIds['abu']

56.0

In [49]:
studentIds['aminah'] = 'ninety-two'
studentIds

{'abu': 56.0, 'ali': 42.0, 'aminah': 'ninety-two'}

In [50]:
del studentIds['ali']
studentIds

{'abu': 56.0, 'aminah': 'ninety-two'}

In [51]:
studentIds['ali'] = [42.0, 'forty-two']
studentIds

{'abu': 56.0, 'ali': [42.0, 'forty-two'], 'aminah': 'ninety-two'}

In [52]:
studentIds.keys()

dict_keys(['abu', 'aminah', 'ali'])

In [53]:
studentIds.values()

dict_values([56.0, 'ninety-two', [42.0, 'forty-two']])

In [54]:
studentIds.items()

dict_items([('abu', 56.0), ('aminah', 'ninety-two'), ('ali', [42.0, 'forty-two'])])

In [55]:
len(studentIds)

3

As with nested lists, you can also create dictionaries of dictionaries.

### Exercise: Dictionaries

Use dir and help to learn about the functions you can call on dictionaries.

In [ ]:
# list out dict functions

In [ ]:
# help of a dict function

## Writing Scripts

Now that you’ve got a handle on using Python interactively, let’s write a simple Python script that demonstrates Python’s for loop.

In [61]:
fruits = ['apples', 'oranges', 'pears', 'bananas']
for fruit in fruits:
    print(fruit + ' for sale')

fruitPrices = {'apples': 10.00, 'oranges': 15.0, 'pears': 9.5}
for fruit, price in fruitPrices.items():
    if price < 12.00:
        print('%s cost RM%f a kilo' % (fruit, price))
    else:
        print(fruit + ' are too expensive!')

apples for sale
oranges for sale
pears for sale
bananas for sale
apples cost RM10.000000 a kilo
oranges are too expensive!
pears cost RM9.500000 a kilo

The next snippet of code demonstrates Python’s *list comprehension* construction:

In [63]:
# this creates nums list
nums = [1, 2, 3, 4, 5, 6]

# adds 1 to every element in nums
plusOneNums = [x + 1 for x in nums]

# get all odd elements in nums and store in oddNums list
oddNums = [x for x in nums if x % 2 == 1]

print(oddNums)

# get all odd elements in nums, adds 1 to it and store it in oddNumsPlusOne list 
oddNumsPlusOne = [x + 1 for x in nums if x % 2 == 1]

print(oddNumsPlusOne)

[1, 3, 5]
[2, 4, 6]

### Exercise: List Comprehensions

Write a list comprehension which, from a list, generates a lowercased version of each string that has length greater than twenty-five.

In [ ]:
strings = ['Real Time & Embedded Systems', 'Object Oriented Programming', 'Software Testing', 'Artificial Intelligence']

# generate the lowercased version

### Beware of Indendation!

Unlike many other languages, Python uses the indentation in the source code for interpretation. So for instance, for the following script:

In [69]:
if 0 == 1:
    print('We are in a world of arithmetic pain')
print('Thank you for playing')

Thank you for playing

will output: `Thank you for playing`

But if we had written the script as

In [70]:
if 0 == 1:
    print('We are in a world of arithmetic pain')
    print('Thank you for playing')

there would be no output. The moral of the story: be careful how you indent! It’s best to use four spaces for indentation – that’s what the course code uses.

### Tabs vs Spaces

Because Python uses indentation for code evaluation, it needs to keep track of the level of indentation across code blocks. This means that if your Python file switches from using tabs as indentation to spaces as indentation, the Python interpreter will not be able to resolve the ambiguity of the indentation level and throw an exception. Even though the code can be lined up visually in your text editor, Python “sees” a change in indentation and most likely will throw an exception (or rarely, produce unexpected behavior).

This most commonly happens when opening up a Python file that uses an indentation scheme that is opposite from what your text editor uses (aka, your text editor uses spaces and the file uses tabs). When you write new lines in a code block, there will be a mix of tabs and spaces, even though the whitespace is aligned.

## Writing Functions

As in Java, in Python you can define your own functions:

In [72]:
fruitPrices = {'apples': 10.00, 'oranges': 15.0, 'pears': 9.5}

def buyFruit(fruit, numPounds):
    if fruit not in fruitPrices:
        print("Sorry we don't have %s" % (fruit))
    else:
        cost = fruitPrices[fruit] * numPounds
        print("That'll be %f please" % (cost))

# Main Function
if __name__ == '__main__':
    buyFruit('apples', 2.4)
    buyFruit('coconuts', 2)

That'll be 24.000000 please
Sorry we don't have coconuts

Rather than having a `main` function as in Java, the `__name__ == '__main__'` check is used to delimit expressions which are executed when the file is called as a script from the command line. The code after the main check is thus the same sort of code you would put in a `main` function in Java.

### Advanced Exercise

Write a `quickSort` function in Python using list comprehensions.

In [ ]:
# quickSort function

# Main Function

## More Python Tips and Tricks

This tutorial has briefly touched on some major aspects of Python that will be relevant to the course. Here are some more useful tidbits:

*   Use `range` to generate a sequence of integers, useful for generating traditional indexed `for` loops:

In [ ]:
for index in range(3):
    print(lst[index])

## Troubleshooting

These are some problems (and their solutions) that new Python learners commonly encounter.

*   **Problem:** ImportError: No module named py 
> **Solution:** For import statements with `import <package-name>`, do not include the file extension (i.e. the `.py` string). For example, you should use: `import numpy` NOT: `import numpy.py`

*   **Problem:** NameError: name ‘MY VARIABLE’ is not defined Even after importing you may see this.
> **Solution:** To access a member of a module, you have to type `MODULE NAME.MEMBER NAME`, where `MODULE NAME` is the name of the `.py` file, and `MEMBER NAME` is the name of the variable (or function) you are trying to access.

*   **Problem:** TypeError: ‘dict’ object is not callable
> **Solution:** Dictionary looks up are done using square brackets: [ and ]. NOT parenthesis: ( and ).

*  ** Problem:** ValueError: too many values to unpack
> **Solution:** Make sure the number of variables you are assigning in a `for` loop matches the number of elements in each item of the list. Similarly for working with tuples. For example, if pair is a tuple of two elements (e.g. `pair =('apple', 2.0)`) then the following code would cause the “too many values to unpack error”: `(a, b, c) = pair`.

Here is a problematic scenario involving a `for` loop:

In [76]:
pairList = [('apples', 2.00), ('oranges', 1.50), ('pears', 1.75)]

for fruit, price, color in pairList:
  print('%s fruit costs %f and is the color %s' % (fruit, price, color))

ValueError: ignored



*   **Problem:** AttributeError: ‘list’ object has no attribute ‘length’ (or something similar).
> **Solution:** Finding length of lists is done using `len(NAME OF LIST)`.
*   **Problem:** Changes to a file are not taking effect.
> **Solution:** Make sure you are saving all your files after any changes. If you are editing a file in a window different from the one you are using to execute python, make sure you `reload(_YOUR_MODULE_)` to guarantee your changes are being reflected. reload works similarly to `import`.

## More References


*   The place to go for more Python information: www.python.org